$primary-colour: #e65758;
$accent-colour: #910123;
$fade-colour: #f29898;

$button-colour: #57e65e;
$button-hover: #83f188;
$button-active: #45ad4b;

$top-margin: 80px;
$padding: 32px;
$big-border-radius: 32px;
$small-border-radius: 16px;

$breakpoint-big-screen: 1920px;
$breakpoint-laptop: 1366px;
