$primary-colour: #e65758;
$accent-colour: #910123;
$fade-colour: #f29898;

$top-margin: 80px;
$padding: 32px;
$big-border-radius: 32px;
$small-border-radius: 16px;

$breakpoint-big-screen: 1920px;
$breakpoint-laptop: 1366px;
