@import "./variables";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;

  font-size: 14px;
}

p {
  font-size: 20px;
}

.container {
  width: 1080px;
  height: 720px;
  margin: auto;
}

@media (min-width: $breakpoint-laptop) {
  html,
  body {
    font-size: 15px;
  }
}

@media (min-width: $breakpoint-big-screen) {
  html,
  body {
    font-size: 16px;
  }
}
