@import "../variables";

.smallTweet {
  margin-bottom: 8px;
  width: 100%;
  padding: 10px;
  height: 80px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 8px;

  .tweet {
    margin: 0;
    font-size: 0.7em;
  }

  .timestamp {
    margin: 0;
    margin-top: 4px;
    font-size: 0.7em;
    text-align: right;
    color: $primary-colour;
  }
}
